* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-family: 'Outfit', sans-serif;
    height: 100%;
    display: flex;
}

body {
    flex: 1;
} */

body {
    height: 100vh;
}